<ion-content [fullscreen]="true">
  <div class="container">
    <header class="header">
      <img src="#" alt="Image logo" class="header-image" />
      <div class="searchbar">
        <ion-searchbar></ion-searchbar>
      </div>
      <nav class="header-menu-items">
        <a href="#" class="header-items">Inicio</a>
        <a href="#" class="header-items">Filmes</a>
        <a href="#" class="header-items">Series</a>
        <a href="#" class="header-items">Categorias</a>
      </nav>
    </header>

    <main class="content-main">
      <div class="text-content-main">
        <h2 class="title-content-main">Filmes e Series</h2>
      </div>
      <div class="items-content-main">
        <ion-grid>
          <ion-row>
            <ion-col size="2" *ngFor="let movie of allMovies">
              <ion-card class="items-content-card">
                <ion-card-header>
                  <ion-card-subtitle class="launched-in-text">Lançado em: {{movie.launched_in}}</ion-card-subtitle>
                  <ion-card-title class="content-card-title">{{movie.title}}</ion-card-title>
                </ion-card-header>

                <ion-card-content class="content-card-text">
                  {{movie.description}}
                </ion-card-content>
                <ion-button expand="full" color="tertiary" [routerLink]="['/movies-form', movie.id]" >Avaliar</ion-button>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </main>

    <footer class="footer-content">
      <a class="text-footer-content">M O V A L I</a>
    </footer>
  </div>
</ion-content>
